@charset "utf-8";
/* CSS Document */

.third-level-menu{position:absolute;top:0;right:-154px;width:150px;list-style:none;padding:0;margin:0;display:none;z-index:999;border:2px #00a8ff solid;border-radius:16px}
.third-level-menu>li{background:#262626;height:32px}
.third-level-menu>li:last-child{border-bottom-left-radius:15px;border-bottom-right-radius:15px}
.third-level-menu>li:first-child{border-top-left-radius:15px;border-top-right-radius:15px}
.third-level-menu>li:hover{background:#4b4b4b}
.second-level-menu{position:absolute;top:32px;left:-2px;width:100%;list-style:none;padding:0;margin:0;display:none;border-left:2px #00a8ff solid;border-right:2px #00a8ff solid;border-bottom:2px #00a8ff solid;border-bottom-left-radius:16px;border-bottom-right-radius:16px}
.second-level-menu>li{position:relative;height:32px;background:#262626}
.second-level-menu>li:last-child{border-bottom-left-radius:15px;border-bottom-right-radius:15px}
.second-level-menu>li:hover{background:#4b4b4b;border-bottom-left-radius:none;border-bottom-right-radius:none}
.top-level-menu{list-style:none;padding:0;margin:0;position:relative;z-index:100000;}
.top-level-menu>li{position:relative;float:left;min-width:200px;border-radius:16px;border:2px #00a8ff solid;text-transform:uppercase;color:#EEE;font-size:1.3rem;background-color:#262626;background-image:url('../images/dwn.png');background-repeat:no-repeat;background-position:95% center}
.top-level-menu>li:hover{background-color:#4b4b4b;border-bottom-left-radius:0 !important;border-bottom-right-radius:0 !important}
.top-level-menu>li>a{padding-right:25px}
.top-level-menu li:hover>ul{display:inline}
.top-level-menu a{color:#222;text-decoration:none;padding:0 15px;display:block;line-height:32px}
.top-level-menu a:hover{color:#000}
